body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo {
    width: 80%;
    height: 12%;
    margin-bottom: 20px;
   
}

#form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #0b47c9;
}

input {
    padding: 5px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0b47c9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
}

button:hover {
    background-color: #eb820afd;
}

h3 {

    text-align: center;
    color: #0b47c9;
}